<div class="faq">
  <div class="container">
    <div class="question">
      <h1>Pot să adaug anunțuri gratuite?</h1>
      <p>Nu, pentru a adaugă anunț trebuie să fie achiziționat unul din abonamente.</p>
    </div>
    <div class="question">
      <h1> Cum știu care tip de abonament se potrivește?</h1>
      <p>Fiecare abonament este special creat pentru a satisface nevoile clientului. Dacă un utilizator dorește să adauge maxim 4 anunțuri ,
        sau dorește o valabilitate a anunțului mai scurtă el poate opta pentru abonamentul Super. Atunci când utilizatorul dorește o valabilitate
        mai mare(15 zile), el optează pentru abonamentul Plus și are posibilitatea de a adaugă 8 anunțuri. </p>
    </div>
    <div class="question">
      <h1>Trebuie să am cont pentru a adaugă anunț?</h1>
      <p>Da, pentru a adaugă anunț este necesară crearea unui cont și plată abonamentului întâi.</p>
    </div>
    <div class="question">
      <h1>Pot să cumpăr mai multe abonamente într-o luna?</h1>
      <p>Da, se pot achiziționa câte abonamente sunt necesare.</p>
    </div><div class="question">
    <h1>Anunturile sunt afișate public?</h1>
    <p>Da, anunturile pot fi vizibile și de către utilizatorii care nu au cont creat. </p>
  </div>
    <div class="question">
      <h1>Dacă am problemă cu plată cum o remediez?</h1>
      <p>Pentru orice tip de problemă trebuie contactat administrator prin email sau telefon. Detalile sunt afișate în rubrică de contact.</p>
    </div>
    <div class="question">
      <h1>Plată este sigură?</h1>
      <p>Plată este sigură, website-ul folosește  portalul payu.ro pentru a asigură securitate și garanție.</p>
    </div>
    <div class="question">
      <h1>Cum funcționează plată online?</h1>
      <p>După accesarea butonului "achiziționare abonament" se alege unul din cele două abonamente, iar apoi acestea redirecționează
        utilizatorul spre portalul payu unde se întroduc datele de pe cârd.  După ce cardul este verificat , dacă este cazul este introdusă parolă
        "3D Secure" , iar sumă este blocată în timp ce este verificată acțiunea prin filtre antifrauda.
        După pasul acesta ,utilizatorul este informat că plată este efectuată , sumă este debitată , iar utilizatorul primește un email
        cu chitanță de plată.</p>
    </div>
    <div class="question">
      <h1>Pot să mă conectez și cu alte sisteme?</h1>
      <p>Da, este disponibilă conectarea și prin intermediul platformei Facebook.</p>
    </div>
    <div class="question">
      <h1>Există și versiunea Mobile?</h1>
      <p>Da, site-ul este disponibil pe Desktop, Android și IOS. </p>
    </div>
  </div>
</div>
