<div class="fullPage">
  <div class="container text-center">
    <div class="ui-g-12 title-big">
      <h1>Cauta rapid in aplicatie urmatoarea ta masina!</h1>
      <hr/>

    </div>
    <div class="ui-g-12 features">
        <div class="container-fluid">
          <div class="row">
            <div class="ui-g-6 text-center">
              <div class="feature-item">
                <h3>Text 1</h3>
                <p class="text-muted">Text 2</p>
              </div>
            </div>
            <div class="ui-g-6 text-center">
              <div class="feature-item">
                <h3>Text 3</h3>
                <p class="text-muted">Text 4</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ui-g-6 text-center">
              <div class="feature-item">
                <h3>Text 5</h3>
                <p class="text-muted">Text 6</p>
              </div>
            </div>
            <div class="ui-g-6 text-center">
              <div class="feature-item">
                <h3>Text 7</h3>
                <p class="text-muted">Text 8</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
